name: Commit Message Validation

on:
  push:
    branches:
      - feature/testing

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Run Commitlint
        run: npx commitlint --from ${{ github.event.before }} --to ${{ github.event.after }}
